.auth-form-container {
    width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(256, 256, 256, 0.4);
    background-color: white;
    color: #282c34;
    text-align: center;
}

.auth-form-container input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.6rem;
    font-size: 1rem;
    background-color: white;
}

.auth-form-container button {
    padding: 0.6rem;
    font-weight: bold;
    margin: auto;
}

.auth-form-container p {
    margin-top: 1rem;
    font-size: 1.1rem;
}
.auth-form-container p a {
    text-decoration: none;
}
